/* Start Variables */
:root {
--main-color: #ca10b7;
--main-color1: #ca10a2;
--second-color:  rgb(155, 243, 243);
--second-color2: rgba(211, 154, 200, 0.743);
--nav: rgb(253, 240, 255);

}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-title{
    margin: 95px auto;
    border: 2px solid;
    padding: 13px;
    width: fit-content;
    position: relative;
    font-size: 30px;
    font-weight: 800;
    transition: 0.5s;
    z-index: 1;
    top: 32px;
}

.main-title::before{
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background-image: linear-gradient(90deg,var(--second-color),var(--second-color2));
    border-radius: 50%;
    top: 50%;
    transform: translatey(-50%);
    left: -30px;
}
.main-title::after{
    content: "";
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background-image: linear-gradient(90deg,var(--second-color2),var(--second-color));
    border-radius: 50%;
    top: 50%;
    transform: translatey(-50%);
    right: -30px;

}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
    z-index: 100;
}

.main-title:hover::before{
    z-index: -1;
    animation: titlel 0.5s linear forwards;

}
.main-title:hover::after{
    z-index: -1;
    animation: titler 0.5s linear forwards;

}
@keyframes titlel {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes titler {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right:  0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1,p{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Geologica', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* End Global Rules */
/* header */
header{
    box-shadow:0 0 4px 0px #000000b8;
    position: relative;
    background-color: white;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 90px;
}
header .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    padding: 4px;
}
@media (max-width: 768px) {
    .logo {
        width: 100%;
    text-align: center;}
    }
header .nav-header  {
    display: flex;
    align-items: center;
}

header .nav-header > li > a{
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    padding: 0 30px;
    transition: 0.4s;
    overflow: hidden;
    font-weight: bold;
}

header .nav-header > li > a::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: var(--main-color);
    top: 0px;
    left: -100%;
    transition: 0.4s;
}
header .nav-header > li > a:hover::before{
    left: 0;
}
header .nav-header > li > a:hover{
    background-color:var(--nav);
    color: var(--main-color);
}
@media (max-width: 768px) {
    .nav-header > li > a{
        padding: 10px !important; 
        font-size: 13px;
        height: 52px !important;
    }
    }
@media (max-width: 768px) {
    .nav-header {
        
        margin: auto;
    }
    }

.mega-menu{
    position: absolute;
    width: 1102px;
    z-index: 100;
    background-color: white;
    left: 50%;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    gap: 40px;
    top: 102%;
    transform: translateX(-50%);
    transition: 0.3s;
    display: flex;
    opacity: 0%;
    z-index: -1;
}
.mega-menu .image img{
    max-width: 100%;
}
.mega-menu .links{
    flex: 1;
}

.mega-menu li a{
    padding: 20px;
    font-size: 15px;
    display: block;
    border-bottom: 1px solid #00000026;
    font-weight: 700;
    color: var(--main-color);
    transition: 0.3s;
}
@media (max-width:  991px) {
    .mega-menu .image img{
        display: none;
    }
}
@media (max-width: 950px) {
    .mega-menu {
    width: 100%;
    flex-direction: column;
    gap: 0;
    
    }

    }
.mega-menu li a:hover{
    background-color:  var(--nav);
}
header .nav-header > li:hover .mega-menu{
    opacity: 100%;
    z-index: 100;
}



/* header */
/* land */
.land{
    background-image: linear-gradient(360deg,var(--second-color),var(--second-color2));
    box-shadow: inset 0px 0px 20px 7px var(--main-color);
    height: calc(100vh - 90px);
    /* display: flex;
    align-items: center; */

}
.land .container{
    display: flex;
    align-items: center;
    height: calc(100vh - 90px);
    padding-bottom:120px ;
}
@media (max-width:  991px) {
    .land .image{
        display: none;
    }
    .land .text{
        text-align: center;

    }
    }
.land .container .text{
    line-height: 1.8;
    
}
.land .container .text h1{
    font-size: 51px;
    font-weight: 800;
    color: var(--main-color1);
    
    
}
.land .container .text p{
    font-size: 26px;
    
}
.land .image img{
    width: 600px;
    position: relative;
    animation-name: an;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.land i{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    font-size: 42px;
    color: var(--main-color);
    transition: 0.3s;
    animation-name: down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

}
.land i:hover{
    color: #7b0762;
}
@keyframes down{
    0%{
        bottom: 50px;
    }
    25%{
        bottom:40px ;
    }
    35%{
        bottom:50px ;
    }
    50%{
        bottom: 30px;
    }
    100%{
        bottom: 50px;
    }
}
@keyframes an {
    0%,100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
    
}

/* land */
/* articles */
.articles .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap: 40px;
}
.articles .container .box{
    overflow: hidden;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0px 2px 10px #b02bc136;
    transition: 0.3s;
}
.articles .container .box:hover{
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px #b02bc196;

}
.articles .container .box h3{
    padding: 10px;
    font-size: 20px;
    margin: 0;

}
.articles .container .box  p{
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.657);
    padding: 10px;
    border-bottom: 2px solid #0000000d;

}
.articles .container .box   .info{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
.articles .container .box   .info a{
    color: var(--main-color);
    
}
.articles .container .box   .info i{
    color: var(--main-color);
    
}

.articles .container img{
    max-width: 100%;

}

/* articles*/
/* Gallery*/
.Gallery{
    background-color: var(--nav);
}
.Gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.Gallery .container img{
    max-width: 100%;
    height: 100%;
    padding: 20px;
}
.Gallery .container .image{
    background-color: white;
    border-radius: 2%;
    box-shadow: 0px 2px 10px #b02bc136;
    overflow: hidden;
    transition: 0.3s;

}
.Gallery .container .image:hover{
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px #b02bc196;

}

/* Gallery*/
/* Features*/
.Features{
    background-color:white;

}
.Features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
    

}
.Features .container .box{
    overflow: hidden;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #00000087;
}

.Features .container .box .text h3{
    margin: 50px auto;
    font-size: 45px;
    font-weight: 800;
    position: relative;
    width: fit-content;
}
.Features .container .box .text h3::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 70%;
    bottom: -10px;
    left: 50%;
    transform: translatex(-50%);
    background-color: var(--main-color);
}
.Features .container .box .text p{
    text-align: center;
    padding: 20px;
    font-size: 21px;
    color: #0000007a;
    line-height: 1.8;
    
}
.Features .container .box   .info a{
    font-size: 29px;
    color: var(--main-color);
    display: block;
    width: fit-content;
    margin: 10px auto;
    border: 4px solid var(--main-color);
    font-weight: 600;
    padding: 9px 20px;
    border-radius: 6px;
    position: relative;
    transition: 0.3s;
}
.Features .container .box   .info a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ca10a252;
    display: none;
    transition: 0.3;
    
}


.Features .container img{
    max-width: 100%;

    }
.Features .container .image{
    position: relative;
    }
.Features .container .image::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ca10a252;
    display: none;
    transition: 0.9s;
    
    
}
.Features .box:hover .image::before{
    display: block;
}



/* Features*/